.btn_del {
  cursor: pointer;
  background: #ff7171;
  padding: 7px 30px;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 7px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.btn_yellow {
  cursor: pointer;
  background: #fafc91;
  padding: 7px 12px;
  border-radius: 4px;
  border: none;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.wrapForBtn {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.imgBtnAdmin {
  margin-right: 10px;
}
